<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="GoogleClientId" value="495733565588-kv9v5n61d9dt90bsd04a60g858pfuuvu.apps.googleusercontent.com"/>
	<add key="GoogleClientSecret" value="8dvKWi6qM_Qxx3OM7Mk2blrp"/>
	<add key="FacebookAppId" value="627250647380711"/>
	<add key="FacebookAppSecret" value="6f0cf86eb7a89facd33724a6f0a802e8"/>
  <add key="FacebookAppAccessToken" value="627250647380711|-DLce3INEuIOBkdZeTnqgWpTvcY"/>
</appSettings>