<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="Peregrine.Data.DataContext" connectionString="Data Source=(localdb)\peregrine;Initial Catalog=peregrine;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
</connectionStrings>