<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- AppHarbor can't handle external configuration files, so we need to remove that attribute when we push -->
	<connectionStrings xdt:Transform="RemoveAttributes(configSource)">
	</connectionStrings>
</configuration>