<h3>Associate your {{registerData.provider}} Account</h3>
<p class="text-success">You have successfully autheticated with <strong>{{registerData.provider}} </strong>. Please enter a user name below for this site and click the Register button to log in.</p>
<form data-ng-submit="registerExternal()">
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" data-ng-model="registerData.userName" required autofocus>
			</div>
			<div class="form-group">
				<input class="btn btn-sm btn-info btn-block" type="submit" value="Register" />
			</div>
			<div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
				{{message}}
			</div>
		</div>
	</div>
</form>
	

