<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<p>
	Use Magic Tourney to setup your Magic the Gathering tournament.
</p>
<div class="row">
	<div class="col-md-6">
		<h3>Create a tournament</h3>
		<p>
			<a href="#/tournamentedit" class="btn btn-success btn-lg">Get Started</a>
		</p>
	</div>
</div>
<div data-ng-if="loggedIn" class="row">
	<div class="col-md-6">
		<h3>Tournaments</h3>
		<div data-ng-show="loading" class="alert alert-info">loading...</div>
		<div data-ng-hide="loading || tournaments" class="alert alert-info">No tournaments available</div>
		<table class="tournament-item-table table table-hover" data-ng-if="tournaments">
			<tbody>
				<tr data-ng-repeat="tournament in tournaments">
					<td>
						<a href="#/tournamentedit/{{tournament.key}}/">
							{{ tournament.name || tournament.key }}
						</a>
					</td>
					<td>
						<a class="btn btn-default pull-right" href="#/dash/tournament/{{tournament.key}}">
							Standings
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
