<p>
	Use Magic Tourney to setup your Magic the Gathering tournament.
</p>
<div class="row">
	<div class="col-lg-6">
		<h3>New tournament</h3>
		<a href="#/tournamentedit" class="btn btn-primary btn-lg">Get Started</a>
	</div>
	<div class="col-lg-6">
		<h3>Find a tournament code</h3>
		<div class="input-group input-group-lg">
			<input type="text" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button">Go</button>
			</span>
		</div>
	</div>
</div>
<h3>Tournaments</h3>
<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<div data-ng-hide="tournaments" class="alert alert-info">loading...</div>
<div class="row tournament-item-list" data-ng-if="tournaments">
	<div class="col-md-6" data-ng-repeat-start="tournament in tournaments">
		<div class="item clearfix">
			<a href="#/dash/tournament/{{tournament.key}}">
				<label>
					{{ tournament.name || tournament.key }}
				</label>
			</a>
		</div>
	</div>
	<div class="clearfix visible-md visible-lg" data-ng-if="$odd" data-ng-repeat-end></div>
</div>
