<p class="lead">
	Use peregrine to setup your swiss pairing tournament.
</p>
<div class="row">
	<div class="col-lg-6">
		<h3>New tournament</h3>
		<a href="#/Tournament" class="btn btn-primary btn-lg">Get Started</a>
	</div>
	<div class="col-lg-6">
		<h3>Find a tournament code</h3>
		<div class="input-group input-group-lg">
			<input type="text" class="form-control">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button">Go</button>
			</span>
		</div>
	</div>
</div>
<h3>Tournaments</h3>
<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<div data-ng-hide="tournaments" class="alert alert-info">loading...</div>
<ul data-ng-if="tournaments">
	<li data-ng-repeat="tournament in tournaments">
		<a href="#/dash/tournament/{{tournament.key}}">
			{{ tournament.name || tournament.key }}
		</a>
		<a href="#/tournamentedit/{{tournament.key}}" class="btn btn-default btn-sm">
			Manage
		</a>
	</li>
</ul>

