<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<div class="row">
	<div class="col-md-6">
		<h3>Login</h3>
		<form data-ng-submit="login()">
			<div class="form-group">
				<label for="login-email">Email:</label>
				<input type="email" class="form-control" id="login-email" name="login-email" data-ng-model="loginEmail" value="" />
			</div>
			<div class="form-group">
				<label for="login-password">Password:</label>
				<input type="password" class="form-control" id="login-password" name="login-password" data-ng-model="loginPassword" value="" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" >Login</button>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<h3>Register</h3>
		<form data-ng-submit="register()">
			<div class="form-group">
				<label for="register-email">Email:</label>
				<input type="email" class="form-control" id="register-email" name="register-email" data-ng-model="registerEmail" value="" />
			</div>
			<div class="form-group">
				<label for="register-password">Password:</label>
				<input type="password" class="form-control" id="register-password" name="register-password" data-ng-model="registerPassword" value="" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Register</button>
			</div>
		</form>
	</div>
</div>
