<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<div data-ng-hide="round" class="alert alert-info">loading...</div>
<div class="round-area" data-ng-if="round">
	<h2>Round {{round.number}}</h2>
	<div class="itemList matches">
		<div data-ng-repeat="match in round.matches" class="item row">
			<div class="players">
				<div class="player-col">
					<div class="player-wrap">
						<div class="player form-inline clearfix" data-ng-repeat="player in match.players">
							<div class="player-name-bar">
								<button class="btn btn-default drop-button pull-right" data-ng-click="dropPlayer(player)">Drop</button>
								<label class="player-name">{{player.name}}</label>
							</div>
							<div class="player-actions-bar" data-ng-if="match.players.length > 1">
								<span class="player-wins">Wins:</span>
								<span data-up-down="player" data-up-down-attribute="'wins'" data-up-down-change="updatePlayerOutcome" />
							</div>
						</div>
						<div class="player form-inline clearfix" data-ng-if="match.players.length === 1">
							<div class="player-name-bar">
								<label class="player-name">Bye</label>
							</div>
						</div>
					</div>
				</div>
				<div class="draws-col" data-ng-if="match.players.length > 1">
					<div class="draws-wrap form-inline">
						<span>Draws:</span>
						<span data-up-down="match.players[0]" data-up-down-attribute="'draws'" data-up-down-change="updatePlayerOutcome" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="action-bar">
		<button data-ng-disabled="!round.completed" data-ng-if="isAnotherRound" ng-click="go('/tournament/' + tournamentKey + '/round/' + (round.number + 1))" class="btn btn-primary btn-lg">Start Next Round</button>
		<button data-ng-disabled="!round.completed" data-ng-if="!isAnotherRound" data-ng-click="go('/tournament/' + tournamentKey + '/standings')" class="btn btn-primary btn-lg">Finish The Tournament</button>
	</div>
</div>
