<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<div class="round-area" data-ng-show="round">
	<h2>Round {{round.number}}</h2>
	<ul class="itemList matches">
		<li data-ng-repeat="match in round.matches" class="item row">
			<div class="players clearfix">
				<div class="player-col">
					<div class="player-wrap">
						<div class="player form-inline clearfix" data-ng-repeat="player in match.players">
							<form class="player-form">
								<div class="input-group input-group-sm">
									<span class="player-name input-group-addon">{{player.name}}</span>
									<input type="text" class="form-control" data-ng-model="player.wins" data-ng-change="updatePlayerOutcome(player, 'win')" />
									<span class="input-group-btn">
										<button class="btn btn-default drop-button" data-ng-click="dropPlayer(player)">Drop</button>
									</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="draws-col">
					<div class="draws-wrap">
						<div class="input-group-vertical input-group-sm">
							<div class="input-group-addon">Draws</div>
							<input type="text" class="form-control input-group-btn" data-ng-model="match.players[0].draws" data-ng-change="updatePlayerOutcome(match.players[0], 'draw')" />
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="action-bar">
		<button data-ng-disabled="!round.completed" data-ng-if="isAnotherRound" ng-click="go('/Tournament/' + tournamentKey + '/Round/' + (round.number + 1))" class="btn btn-primary btn-lg">Start Next Round</button>
		<button data-ng-disabled="!round.completed" data-ng-if="!isAnotherRound" data-ng-click="go('/Tournament/' + tournamentKey + '/Standings')" class="btn btn-primary btn-lg">Finish The Tournament</button>
	</div>
</div>
