<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<div data-ng-hide="round" class="alert alert-info">loading...</div>
<div class="round-area" data-ng-if="round">
	<h2>Round {{round.number}}</h2>
	<div class="itemList matches">
		<div data-ng-repeat="match in round.matches" class="item row round-detail-match">
			<div class="col-xs-5 round-detail-player text-right">
				<label>{{match.players[0].name}}</label>
			</div>
			<div class="col-xs-2 text-center">
				<label class="label label-danger">VS</label>
			</div>
			<div class="col-xs-5 round-detail-player text-left" data-ng-if="match.players.length > 1">
				<label>{{match.players[1].name}}</label>
			</div>
			<div class="col-xs-5 round-detail-player text-left" data-ng-if="match.players.length === 1">
				<label>Bye</label>
			</div>
		</div>
	</div>
	<div class="action-bar">
		<button ng-click="go('/Tournament/' + tournamentKey + '/Round/' + (round.number))" class="btn btn-primary btn-lg">Enter Results</button>
	</div>
</div>
