<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<div data-ng-hide="round" class="alert alert-info">loading...</div>
<div class="round-area" data-ng-if="round">
	<h2>Round {{round.number}} Results</h2>
	<div class="item-list matches">
		<div data-ng-repeat="match in round.matches" class="item match-item clearfix">
			<div class="players">
				<div class="player-col">
					<div class="player-wrap">
						<div class="player form-inline clearfix" data-ng-repeat="player in match.players" data-ng-class="{'dropped-player': player.dropped}">
							<div class="player-name-bar">
								<button class="btn btn-sm btn-default drop-button pull-right" data-ng-click="dropPlayer(player)" data-ng-if="!player.dropped">Drop</button>
								<span class="label label-danger pull-right" data-ng-if="player.dropped">dropped</span>
								<label class="player-name">{{player.name}}</label>
							</div>
							<div class="player-actions-bar" data-ng-if="match.players.length > 1 && !player.dropped">
								<span class="player-wins">Wins:</span>
								<span data-up-down="player" data-up-down-attribute="'wins'" data-up-down-change="updatePlayerOutcome" />
							</div>
							<div class="versus" data-ng-if="$index === 0">
								<span class="label label-success">VS</span>
							</div>
						</div>
						<div class="player form-inline clearfix" data-ng-if="match.players.length === 1">
							<div class="player-name-bar">
								<label class="player-name">Bye</label>
							</div>
						</div>
						
					</div>
				</div>
				<div class="draws-col" data-ng-if="match.players.length > 1">
					<div class="draws-wrap form-inline">
						<span>Draws:</span>
						<span data-up-down="match.players[0]" data-up-down-attribute="'draws'" data-up-down-change="updatePlayerOutcome" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="action-bar">
		<button data-ng-disabled="!round.completed" data-ng-if="tournament.totalRounds > round.number" ng-click="go('/tournament/' + tournament.key + '/round/' + (round.number + 1))" class="btn btn-primary btn-lg">Start Round {{round.number + 1}}</button>
		<button data-ng-disabled="!round.completed" data-ng-if="tournament.totalRounds === round.number" data-ng-click="go('/tournament/' + tournament.key + '/standings')" class="btn btn-primary btn-lg">Finish The Tournament</button>
		<a href="#/dash/tournament/{{tournament.key}}" class="btn btn-default btn-lg">Dashboard</a>
	</div>
</div>
