<div ng-if="error" class="alert alert-danger">
	{{error}}
</div>
<div class="standings-area">
	<h2>Tournament Standings</h2>
	<div class="table-responsive">
		<table class="table table table-striped ">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Match Points</th>
					<th>Opponent Match Win %</th>
					<th>Game Win %</th>
					<th>Opponent Game Win %</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="player in standings.playerStandings">
					<td>{{ player.rank }}</td>
					<td>{{ player.playerName }}</td>
					<td width="20%">
						<svg class="bar-statistic">
							<rect height="20" ng-attr-width="{{ player.absoluteMatchPoints * 100 }}" fill="#2BA24A" />
							<text x="5" y="15" fill="#000">{{ player.matchPoints | number:0 }}</text>
						</svg>
					</td>
					<td width="20%">
						<svg class="bar-statistic">
							<rect height="20" ng-attr-width="{{ player.absoluteOpponentsMatchWinPercentage * 100 }}" fill="#2BA24A" />
							<text x="5" y="15" fill="#000">{{ player.opponentsMatchWinPercentage | number:4 }}</text>
						</svg>
					</td>
					<td width="20%">
						<svg class="bar-statistic">
							<rect height="20" ng-attr-width="{{ player.absoluteGameWinPercentage * 100 }}" fill="#2BA24A" />
							<text x="5" y="15" fill="#000">{{ player.gameWinPercentage | number:4 }}</text>
						</svg>
					</td>
					<td width="20%">
						<svg class="bar-statistic">
							<rect height="20" ng-attr-width="{{ player.absoluteOpponentsGameWinPercentage * 100 }}" fill="#2BA24A" />
							<text x="5" y="15" fill="#000">{{ player.opponentsGameWinPercentage | number:4 }}</text>
						</svg>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>