<div ng-if="error" class="alert alert-danger">
	{{error}}
</div>
<div class="standings-area">
	<h2>Tournament Standings</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Stats</th>
					<th>Match Points</th>
					<th>Opponent Match Win %</th>
					<th>Game Win %</th>
					<th>Opponent Game Win %</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="player in standings">
					<td>{{ player.rank }}</td>
					<td>{{ player.name }}</td>
					<td ng-init="pctMatchPts = player.matchPoints / maxMatchPoints * 50; pctOppMatchWin = player.opponentsMatchWinPercentage / maxOpponentsMatchWinPercentage * 25; pctGameWin = player.gameWinPercentage / maxGameWinPercentage * 12.5; pctOppGameWin = player.opponentsGameWinPercentage / maxOpponentsGameWinPercentage * 12.5;">
						<svg height="10" width="100">
							<rect height="10" ng-attr-width="{{ pctMatchPts }}" fill="#124678" />
							<rect height="10" ng-attr-width="{{ pctOppMatchWin }}" fill="#326698" ng-attr-x="{{ pctMatchPts }}" />
							<rect height="10" ng-attr-width="{{ pctGameWin }}" fill="#5286B8" ng-attr-x="{{ pctMatchPts + pctOppMatchWin }}" />
							<rect height="10" ng-attr-width="{{ pctOppGameWin }}" fill="#72A6D8" ng-attr-x="{{ pctMatchPts + pctOppMatchWin + pctGameWin }}" />
						</svg>
					</td>
					<td style="color: #124678;">{{ player.matchPoints | number:0 }}</td>
					<td style="color: #326698;">{{ player.opponentsMatchWinPercentage | number:4 }}</td>
					<td style="color: #5286B8;">{{ player.gameWinPercentage | number:4 }}</td>
					<td style="color: #72A6D8;">{{ player.opponentsGameWinPercentage | number:4 }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>