<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<div class="tournament-area" data-ng-show="tournament">
	<h2>Tournament Details</h2>
	<ul class="itemList">
		<li class="item">
			<div class="input-group input-group-lg">
				<span class="input-group-addon">Tournament Name</span>
				<input type="text" class="form-control" value="Not currently supported in the api." disabled="disabled">
			</div>
		</li>
		<li class="item">
			<div class="input-group input-group-lg">
				<span class="input-group-addon">Tournament Code</span>
				<input type="text" class="form-control" data-ng-model="tournament.key">
			</div>
		</li>
	</ul>
	<h2>Players</h2>
	<ul class="itemList">
		<li data-ng-repeat="player in players" class="item">
			<div data-item-editor
				 data-item-index="$index"
				 data-item-list="players"
				 data-item-delete-callback="deletePlayer"
				 data-item-edit-callback="updatePlayer">
			</div>
		</li>
	</ul>
	<form data-ng-submit="addPlayer()">
		<div class="input-group input-group-lg ">
			<input type="text" class="form-control item-adder-input" data-ng-model="newPlayerName">
			<span class="input-group-btn">
				<input type="submit" class="btn btn-primary" value="Add Player" />
			</span>
		</div>
	</form>
	<div class="action-bar">
		<a href="#/Tournament/{{tournament.key}}/Round/1" class="btn btn-primary btn-lg">Start Round One</a>
	</div>
</div>
