<div ng-if="error.length > 0" class="alert alert-danger">
	{{error}}
</div>
<div class="tournament-area" data-ng-show="tournament">
	<h2>Tournament Details</h2>
	<ul class="itemList">
		<li class="item">
			<div class="form-group">
				<label class="tournament-name">Tournament Name</label>
				<input type="text" class="form-control" value="Not currently supported in the api." disabled="disabled">
			</div>
		</li>
		<li class="item">
			<div class="form-group">
				<label class="tournament-code">Tournament Code</label>
				<input type="text" class="form-control" data-ng-model="tournament.key">
			</div>
		</li>
	</ul>
	<h2>Players</h2>
	<ul class="itemList">
		<li data-ng-repeat="player in players" class="item">
			<div class="input-group">
				<input type="text" class="form-control" data-ng-model="player.name" disabled="disabled">
				<span class="input-group-btn">
					<button class="btn btn-default" data-ng-click="deletePlayer(player)">Delete</button>
				</span>
			</div>
		</li>
	</ul>
	<form class="addPlayerForm" data-ng-submit="addPlayer()">
		<div class="input-group">
			<input type="text" class="form-control item-adder-input" data-ng-model="newPlayer.name">
			<span class="input-group-btn">
				<input type="submit" class="btn btn-primary" value="Add Player" />
			</span>
		</div>
	</form>
	<div class="action-bar">
		<a href="#/Tournament/{{tournament.key}}/Round/1" class="btn btn-primary btn-lg">Start Round One</a>
	</div>
</div>
