header {
	background: #124678;
	color: #fff;
}

	header a, header a:hover {
		color: #fff;
	}

.mainContent {
	padding: 16px 0;
}

.item-list {
	padding: 0;
	list-style: none;
}

	.item-list .item {
		margin: 8px 0;
	}

.action-bar .btn{
	margin-bottom: 4px;
}
/* home page */
.tournament-item-list .item{
	border-radius: 4px;
	margin-bottom: 8px;
	border: solid 1px #b3d7f3;
	background: #d4e9f9;
	padding: 8px;
}

/* tournament page*/
.addPlayerForm {
	margin-bottom: 8px;
}


/* rounds page */
.matches .item {
	border-radius: 4px;
	margin: 8px 0;
	border: solid 1px #124678;
	background: #d4e9f9;
}

.player:first-child{
	border-top-left-radius: 4px;
}
.player:last-child{
	border-bottom-left-radius: 4px;
}
.player-name-bar, .player-actions-bar, .draws-wrap {
	padding: 8px;
}

.player-wrap .player:nth-child(even) {
	background: #beddf5;
}

.player-wrap .dropped-player{
	background: #fbbcbc;
}

.player-wrap .dropped-player:nth-child(even) {
	background: #f9a4a4;
}

@media (min-width: 768px) {
	.player-wrap {
		border-right: solid 1px #a8d1f1;
	}

	.player-col {
		float: left;
		width: 79%;
	}

	.draws-col {
		float: right;
		width: 21%;
	}

	.player-name-bar, .player-actions-bar {
		float: left;
		width: 50%;
	}

	.player-name-bar {
		border-right: solid 1px #a8d1f1;
	}
	.dropped-player .player-name-bar {
		border-right: solid 1px #f78c8c;
	}
}

@media (max-width: 768px) {
	.player-wrap {
		border-bottom: solid 1px #a8d1f1;
	}

	.player-actions-bar {
		border-top: solid 1px #a8d1f1;
	}
	.player:first-child{
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	.player-wrap .player:last-child{
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.player-wrap:last-child{
		border-bottom: 0 none;
	}
}
.player{
	position: relative;
}
.versus{
	position: absolute;
	bottom: -8px;
	left: -12px;
	margin-top: -12px;
	z-index: 1;
}

.dropped-player .label{
	line-height: 20px;
	padding: 6px;
}

.player {
	border-top: solid 1px #a8d1f1;
}
.player.dropped-player {
	border-top: solid 1px #f78c8c;
}

	.player:first-child {
		border-top: none 0;
	}

.player-name {
	line-height: 20px;
	padding: 6px 0;
	margin-bottom: 2px;
}


.up-down-value {
	width: 42px;
	display: inline-block;
}

.draws-wrap label, .draws-wrap .up-down-control {
	display: inline-block;
}
.form-control[disabled], .form-control[readonly]{
	cursor: default;
}

.pairings-report td[rowspan] {
	vertical-align: middle;
	border-right: solid 1px #ddd;
	border-left: solid 1px #ddd;
}
.pairings-report td[rowspan]:last-child {
	border-right: none 0;
}
.pairings-report td[rowspan]:first-child {
	border-left: none 0;
}

/* round detail page */

.pairing-box{
	padding: 8px;
}